 <ion-view title="Busqueda">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <div class="list card">
            <div class="item item-divider">Realice su busqueda:</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" placeholder="Buscador">
                    </label>
                    <ion-checkbox>Filtro 1</ion-checkbox>
                    <ion-checkbox>Filtro n..</ion-checkbox>
                </form>
            </div>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Resultado 1</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <div class="button-bar">
            <button class="button button-stable button-block button-small icon ion-android-star-outline"></button>
            <button class="button button-stable button-block button-small icon ion-social-facebook"></button>
            <button class="button button-stable button-block button-small icon ion-social-twitter"></button>
            <button class="button button-stable button-block button-small icon ion-social-googleplus"></button>
            <button class="button button-stable button-block button-small icon ion-archive"></button>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Resultado 2</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <ion-list></ion-list>
        <div class="button-bar">
            <button class="button button-stable button-block button-small icon ion-social-facebook"></button>
            <button class="button button-stable button-block button-small icon ion-social-twitter"></button>
            <button class="button button-stable button-block button-small icon ion-social-googleplus"></button>
            <button class="button button-stable button-block button-small icon ion-archive"></button>
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>
