 <ion-view >

   <div class="bar bar-header">
     <button class="button button-icon icon ion-navicon"></button>
     <div class="h1 title">Header Buttons</div>
     <button class="button button-clear button-positive">Edit</button>
   </div>

   <ion-content  overflow-scroll="true" padding="true" class="has-header">
     <div class=" item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Buscar">
    </label>
    <button class="button button-clear ion-close-circled b-cancel">

    </button>
    </div>

       <form class="list"></form>
       <ion-list can-swipe="true">
           <ion-item class="item-thumbnail-left efecto" ng-class="fav()">
               <img>
               <h2 class="icon-right"><strong>Titulo</strong>   <i class="fav ion-icon ion-ios-star"></i></h2>
               <p>Descripción</p>

               <div class="button-bar">
                   <button class="button button-stable button-block button-small icon ion-social-facebook"></button>
                   <button class="button button-stable button-block button-small icon ion-social-twitter"></button>
                   <button class="button button-stable button-block button-small icon ion-social-googleplus"></button>
                   <button class="button button-stable button-block button-small icon ion-archive"></button>
               </div>

               <ion-option-button class="button-stable"
                         ng-click="addFav()">
                         <i class="ion-icon ion-ios-star"></i>
              </ion-option-button>
           </ion-item>
           <ion-item class="item-thumbnail-left efecto">
             <img>
             <h2> <strong>Titulo</strong> </h2>
             <p>Descripción</p>
             <div class="button-bar">
                 <button class="button button-stable button-block button-small icon ion-social-facebook"></button>
                 <button class="button button-stable button-block button-small icon ion-social-twitter"></button>
                 <button class="button button-stable button-block button-small icon ion-social-googleplus"></button>
                 <button class="button button-stable button-block button-small icon ion-archive"></button>
             </div>
             <ion-option-button class="button-stable"
                       ng-click="favs = !favs">
                       <i class="ion-icon ion-ios-star"></i>
            </ion-option-button>
         </ion-item>
         <ion-item class="item-thumbnail-left efecto">
             <img>
             <h2><strong>Titulo</strong>  </h2>
             <p>Descripción</p>
             <div class="button-bar">
                 <button class="button button-stable button-block button-small icon ion-social-facebook"></button>
                 <button class="button button-stable button-block button-small icon ion-social-twitter"></button>
                 <button class="button button-stable button-block button-small icon ion-social-googleplus"></button>
                 <button class="button button-stable button-block button-small icon ion-archive"></button>
                 <ion-option-button class="button-stable"
                           ng-click="edit(item)">
                           <i class="ion-icon ion-ios-star"></i>
                </ion-option-button>
             </div>
         </ion-item>
       </ion-list>

   </ion-content>

    </ion-view>
