<ion-side-menus class="" enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable ">
            <ion-nav-back-button>

            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu-cont" class="menu-tam">
        </ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="m-desplegable  ">
        <ion-header-bar class="bar-stable  bar-balanced color-titulo">
            <div class="title color-titulo">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <div class="list card perfil-fondo ">

                <div class="item item-avatar perfil-fondo" ng-show="verDatos('facebook')">
                        <img class="avatar" src="{{authData.facebook.profileImageURL }}">
                        <h2>{{authData.facebook.displayName}}</h2>
                </div>
                <div class="item item-avatar perfil-fondo" ng-show="verDatos('twitter')">
                        <img class="avatar" src="{{authData.twitter.profileImageURL }}">
                        <h2>{{authData.twitter.displayName}}</h2>
                        <h3>{{authData.twitter.username}}</h3>
                </div>
                <div class="item item-avatar perfil-fondo" ng-show="verDatos('google')">
                        <img class="avatar" src="{{authData.google.profileImageURL }}" width="10%">
                        <h2>{{authData.google.displayName}}</h2>
                        <h3>{{authData.google.username}}</h3>
                </div>



            </div>
            <div class="list card perfil-fondo">

                <div class="item item-body perfil-fondo opcion-color">
                    <a ui-sref="menu.busqueda" menu-close=""
                       class="button button-stable button-block button-small icon-left ion-android-search">
                      Busqueda
                    </a>
                    <a ui-sref="menu.favoritos" menu-close=""
                       class="button button-stable button-block button-small icon-left ion-android-favorite">
                      Favoritos
                    </a>
                    <a  menu-close="" class="button button-stable button-block button-small icon-left ion-log-out"
                        ng-click="logout()">
                      Salir
                    </a>
                </div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
