/* Empty. Add your own CSS if you like */
.back-login{
background-image: url("../img/f_login.jpg")!important;
background-size: 100% 100%;
}

.l-fondo{
  background-color:rgba(255, 255, 255, 0.3)!important;
}
.perfil-fondo{
  background-color:rgba(255, 255, 255, 0.4)!important;
}
input::-webkit-input-placeholder {
color: #808080 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #808080 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #808080 !important;
}

input:-ms-input-placeholder {
color: #808080 !important;
}

.avatar{
  border-radius: 100% !important;
}

.m-desplegable{
  background-color: #E5E4E2 !important;
}
.color-titulo{
  background-color: #018B57 !important;
}
.color-titulo .title{
  color: white !important;
}

.opcion-color .ion-log-out{

  color: #9F000F !important;
}
.b-cancel{
  color: #9F000F !important;
}


/* Efectos de CSS */
.efecto:hover{
  background-color:  #BCC6CC;
  opacity: 1;

}

.hola .item-content{
  background:  rgb(238, 244, 214) !important;
}
.hola .fav{
  color:  rgb(244, 208, 19) !important;
  font-size: 23px !important;
  text-align: right;
}
